{% extends "hafa/about_base.html" %}
{% load staticfiles %}

{% block abt %}
<!--start-about-->

<!--- -->	
<div class="col-md-4 project1 fetur">
    <h3>Who we are</h3>
    <img src="{% static "images/r1.jpg" %}" class="img-responsive" alt=""/>
    <p>The <strong>Humanitarian Agency for Africa (HAFA)</strong> is an international African humanitarian agency dedicated to relief and development in Africa.</p>
</div>
<div class="col-md-4 project2 fetur">
    <h3></h3>
    <div class="event">
        <p>HAFA is nonprofit nongovernmental organization that delivers humanitarian assistance to Africans without discrimination by race, social position, political or religious afflictions. Whilst all the people in the target communities benefit from HAFA’s services, we pay special attention to children, women and youth. This is because of overwhelming evidence to demonstrate that these three groups experience worst human development challenges in most communities of Africa.</p>
    </div>

    <div class="event">
        <h5><a href="#">Our Rationale</a></h5>
        <p>HAFA was founded and exists because diverse challenges which Africans in everyday life.  Every year, hundreds of millions of people around the world are affected by natural disasters and conflict.</p>
    </div>

 </div>
<!--- -->

{% endblock abt %}

{% block etc %}

<div class="who_are">
         <div class="container">    
             <h4>Our Vision and mission</h4>
                 <p><strong>Vision:</strong> Africa without injustices1.</p>
                <p><strong>Mission:</strong> We are committed to ensuring that Africans affected by emergency situation resulting from conflicts or natural disasters or poverty have access to the fundamental rights1 of life and means for recovery or development.</p>
                <p>Objectives: We peruse our mission by implementing the following objectives;
                	
                	<div class="about-list">
                     <ul>
                    <li><a>Provide relief services in form of food, water, sanitation, health care, education, counseling, clothing or any other to the most vulnerable Africans like displaced persons in camps, orphans, people living with HIV/AIDs and very old people.</a></li>
                    <li><a>To promote meaningful participation and partnership of persons, families and communities affected by conflicts or natural disasters or poverty in planning and implementation of projects and activities aimed at improving their quality of life.</a></li>
                    <li><a>To advocate for effective delivery of basic services like water, health care, education and others that affect the well-being of communities at all levels.</a></li>
                    <li><a>To empower the communities with relevant knowledge, skills and resources to enable them to meet their own needs and become self-reliant.</a></li> 
                	</ul>       
                 </div>
                <p>HAFA believes that when African people are empowered they are capable of making their own decisions and finding lasting solutions to their own problems. We believe in the inherent power within African people to transform Africa.</p>



             <h4>Our core principles and values</h4>
                 <p>We cherish and operate on the following core values and principles:</p>
                <p><strong>Pro-poor;</strong> we strictly bias all our priorities, resources and attention to the poor and unprivileged people and communities.</p>
                
                <p><strong>Empowered communities;</strong> we believe that empowered communities including people living with AIDS are essential in combating HIV/AIDS.</p>
                <p><strong>Strategic partnerships;</strong> we treasure partnerships as a means of achieving successful and sustainable outcome.</p>
                <p><strong>Gender Equity;</strong> we committed to main streaming gender considerations in all interventions.</p>
                <p><strong>Non-discrimination;</strong> we cherish and accept diversity of people and communities without any form of discrimination based on sex, religion, race or culture or HIV status or otherwise.</p>
                <p><strong>Integrity and Accountability;</strong> we are committed to absolute openness, honest and the transparent in conducting our business. And we have zero tolerance for corruption.</p>
                <p><strong>Innovation;</strong> we uphold a commitment to imaginative and creative in our work. We constantly develop and encourage new approaches.</p>
                <p><strong>Evidence-based approach;</strong> we identify our interventions through research and generate evidence aimed at influencing policies and practices that bring about lasting benefits.</p>
                <p><strong>Teamwork;</strong> we cherish working together in a strong team spirit as a pillar to our approach.</p>
                <p><strong>Sacrifice and hard work;</strong> we believe in and encourage hard work, perfection, excellence and Servant-hood among us and our esteem partners.</p>

             <h4>Our leadership</h4>
                 <p></p>
             <h4>Our Stories</h4>
                 <p></p>
             <h4>Our Publications</h4>
                 <p></p>
             <h4>Our leadership</h4>
                 <p></p>
                     
         </div>
     </div>

{% endblock etc %}