{% extends "hafa/about_base.html" %}
{% load staticfiles %}

{% block abt %}

<!--- -->	
<div class="col-md-4 project1 fetur">
    <h3>Who we are</h3>
    <img src="{% static "images/r1.jpg" %}" class="img-responsive" alt=""/>
    <p>Cras malesuada aliquet lorem, ac varius arcu mattis egestas. Sed molestie tincidunt ex, ac finibus felis porttitor id. Fusce eleifend magna eget nibh pharetra condimentum sit amet molestie erat.</p>
</div>
<div class="col-md-4 project2 fetur">
    <h3>More</h3>
    <div class="event">
        <h5><a href="#">12 November, 2014</a></h5>
        <p>Etiam efficitur porttitor tortor nec accumsan. Mauris et orci ante. Ut sed tortor rhoncus massa accumsan egestas. Sed fringilla at mauris sed ullamcorper.</p>
    </div>
    <div class="event">
        <h5><a href="#">12 November, 2014</a></h5>
        <p>Etiam efficitur porttitor tortor nec accumsan. Mauris et orci ante. Ut sed tortor rhoncus massa accumsan egestas. Sed fringilla at mauris sed ullamcorper.</p>
    </div>
    <div class="event">
        <h5><a href="#">12 November, 2014</a></h5>
        <p>Etiam efficitur porttitor tortor nec accumsan. Mauris et orci ante. Ut sed tortor rhoncus massa accumsan egestas. Sed fringilla at mauris sed ullamcorper.</p>
    </div>
</div>
<!--- -->

{% endblock abt %}